Tesing on binary classification problems and have data with nominal-valued attributes and no missing
values (weather.nominal, titanic, vote.noUnknowns

In [8]:
import pandas as pd
import numpy as np

In [15]:
def readArff(filename):
    with open ('./NominalData/'+filename+'.arff', 'r') as f:
        # split lines, remove ones with comments
        lines = [line.lower() for line in f.read().split('\n') if not line.startswith('%')]
        
    # remove empty lines
    lines = [line for line in lines if line != '']
    
    columns = []
    data = []
    for index, line in enumerate(lines):
        if line.startswith('@attribute'):
            columns.append(line)
            
        if line.startswith('@data'):
            # get the rest of the lines excluding the one that says @data
            data = lines[index+1:]
            break
            
    # clean column names -- '@attribute colname  \t\t\t{a, b, ...}'
    cleaned_columns = [c[11:c.index('{')].strip() for c in columns]
    
    # clean and split data
    cleaned_data = [d.replace(', ', ',').split(',') for d in data]
    
    # create dataframe
    return pd.DataFrame(cleaned_data, columns = cleaned_columns)

In [16]:
vals = readArff('weather.nominal')

In [17]:
vals

     outlook temperature humidity  windy play
0      sunny         hot     high  false   no
1      sunny         hot     high   true   no
2   overcast         hot     high  false  yes
3      rainy        mild     high  false  yes
4      rainy        cool   normal  false  yes
5      rainy        cool   normal   true   no
6   overcast        cool   normal   true  yes
7      sunny        mild     high  false   no
8      sunny        cool   normal  false  yes
9      rainy        mild   normal  false  yes
10     sunny        mild   normal   true  yes
11  overcast        mild     high   true  yes
12  overcast         hot   normal  false  yes
13     rainy        mild     high   true   no

In [38]:
def preprocess_data(df):
    y, unique = pd.factorize(df.iloc[:,-1])
    new_y = np.where(y==0, -1, 1)
    xs = df.iloc[:,:-1]
    
    final = pd.concat([xs, pd.DataFrame(new_y, columns=[df.columns[-1]])], axis=1)
    return final.values

In [41]:
data = preprocess_data(vals)
data

array([['sunny', 'hot', 'high', 'false', -1],
       ['sunny', 'hot', 'high', 'true', -1],
       ['overcast', 'hot', 'high', 'false', 1],
       ['rainy', 'mild', 'high', 'false', 1],
       ['rainy', 'cool', 'normal', 'false', 1],
       ['rainy', 'cool', 'normal', 'true', -1],
       ['overcast', 'cool', 'normal', 'true', 1],
       ['sunny', 'mild', 'high', 'false', -1],
       ['sunny', 'cool', 'normal', 'false', 1],
       ['rainy', 'mild', 'normal', 'false', 1],
       ['sunny', 'mild', 'normal', 'true', 1],
       ['overcast', 'mild', 'high', 'true', 1],
       ['overcast', 'hot', 'normal', 'false', 1],
       ['rainy', 'mild', 'high', 'true', -1]], dtype=object)

In [54]:
n = data.shape[0]

In [55]:
np.ones(shape=n)/n

array([0.07142857, 0.07142857, 0.07142857, 0.07142857, 0.07142857,
       0.07142857, 0.07142857, 0.07142857, 0.07142857, 0.07142857,
       0.07142857, 0.07142857, 0.07142857, 0.07142857])